ace_tools==0.0
appdirs==1.4.4
arch==7.2.0
backtrader==1.9.78.123
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
frozendict==2.3.8
hmmlearn==0.3.3
html5lib==1.1
idna==3.4
joblib==1.4.2
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
multitasking==0.0.11
numpy==1.25.0
packaging==23.1
pandas==2.0.2
patsy==1.0.1
peewee==3.17.9
Pillow==9.5.0
platformdirs==4.3.6
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.16.0
soupsieve==2.4.1
statsmodels==0.14.4
threadpoolctl==3.6.0
tzdata==2023.3
urllib3==2.0.3
webencodings==0.5.1
yfinance==0.2.54
